<h2 style="margin-left:10rem; margin-right:10rem;">Poder Judicial de Santa Fe - Administrador de Profesionales</h2>

<p style="margin-left:10rem; margin-right:10rem;">Para autenticarse, utilice la siguiente contraseña de un solo uso (OTP):</p>

<p style="margin-left:10rem; margin-right:10rem; font-size: 1.2rem; font-weight: bold;">{{ authCode }}</p>

<p style="color: #555; margin-left:10rem; margin-right:10rem; text-align: justify;">No comparta esta OTP con nadie. Nos tomamos muy en serio la seguridad de su cuenta. Ningún personal nuestro le pedirá que revele o verifique su contraseña de acceso o cualquier otro dato sensible.</p>
<p style="color: #555; margin-left:10rem; margin-right:10rem; text-align: justify;">Si recibe un correo electrónico sospechoso con un enlace para actualizar la información de su cuenta, no haga clic en el enlace; en su lugar, informe el correo electrónico a la Secretaría de Informática del Poder Judicial para que lo investigue.</p>

<p style="margin-left:10rem;margin-right:10rem;">Atte.,</p>

<p style="font-size: .9rem; margin-left:12rem; line-height: .4rem;"><strong>Sec. de Informática</strong></p>
<p style="font-size: .9rem;; margin-left:12rem; line-height: .4rem;"><strong>Poder Judicial de Santa Fe</strong></p>