<h2>Regeneración de Clave de Acceso al Administrador de Profesionales.</h2>

<p>Se ha generado nueva clave de acceso al Sistema.</p>

<p>Guarde este correo electrónico para sus registros. La información de su cuenta es la siguiente:</p>

<ul>
    <li>Nombre de Usuario: <strong>{{usuario}}</strong></li>
    {% if action == 'RESET' %}
        <li>Su Clave de Acceso: <strong>{{password}}</strong></li>
    {% endif %}
</ul>

<p>Su contraseña se ha almacenado en forma segura en nuestra base de datos y no puede ser recuperada. En caso de que la olvide, deberá comunicarse con la Secretaría de Informática del Poder Judicial a los efectos de que se proceda con la generación de una nueva clave.</p>

<p>Podrá modificar su contraseña desde la opción prevista para ello dentro de la aplicación.</p>

<p>Atte.,</p>

<p style="font-size: .9rem; margin-left:2rem; line-height: .4rem;"><strong>Sec. de Informática</strong></p>
<p style="font-size: .9rem;; margin-left:2rem; line-height: .4rem;"><strong>Poder Judicial de Santa Fe</strong></p>