<h2>Bienvenido como usuario del Administrador de Profesionales.</h2>

<p>Guarde este correo electrónico para sus registros. La información de su cuenta es la siguiente:</p>

<ul>
    <li>Nombre de Usuario: <strong>{{usuario}}</strong></li>
    <li>Su Clave de Acceso: <strong>{{password}}</strong></li>
</ul>

<p>Su contraseña se ha almacenado en forma segura en nuestra base de datos y no puede ser recuperada. En caso de que la olvide, deberá comunicarse con la Secretaría de Informática del Poder Judicial a los efectos de que se proceda con la generación de una nueva clave.</p>

<p></p>Para ingresar al sistema, puede copiar y pegar esta URL en la barra de su navegador. El sistema es compatible con los navegadores más utilizados: Chrome, Mozilla, etc.</p> 

<p><center>URL: <a href="https://admprof.justiciasantafe.gov.ar">https://admprof.justiciasantafe.gov.ar</a></center></p>

<p>La primera vez que ingrese desde un dispositivo, se le solicitará un segundo factor de autenticación. Este segundo factor es un código de 4 dígitos que será enviado a esta dirección de correo electrónico.</p>

<p>Si se encuentra en un dispositivo de confianza, como por ejemplo su computadora de trabajo en el Colegio, podrá tildar la opción “Estoy en un ordenador de confianza” para que no se le solicite este código por un plazo de 60 días únicamente en este dispositivo.</p>

<p><b>Sugerencia:</b> No tilde la opción en ordenadores compartidos, el segundo factor de autenticación provee una seguridad extra para su usuario.</p>

<p>Podrá ingresar nuevos profesionales desde la opción <b>"Nuevo Profesional"</b>. También encontrará una columna de acciones en la grilla de los mismos que le permitirá visualizar los datos, editarlos y asignar nuevas claves. En la misma pantalla podrá filtrar por diferentes criterios: estado, matrícula o apellido.</p>

<p>Tenga presente que en la parte superior de la pantalla verá una barra de menú con las opciones de navegación:<p>
    <ul>
        <li>Gestionar Profesionales</li>
        <li>Exportar</li>
        <li>Cambiar clave de acceso</li>
        <li>Listados</li>
        <li>Manual de Usuario</li>
        <li>Salir</li>
    </ul>

<p>Cada una de las opciones indicadas se describen detalladamente en el manual del usuario.</p>


<p>Atte.,</p>

<p style="font-size: .9rem; margin-left:2rem; line-height: .4rem;"><strong>Sec. de Informática</strong></p>
<p style="font-size: .9rem;; margin-left:2rem; line-height: .4rem;"><strong>Poder Judicial de Santa Fe</strong></p>