{% extends 'base.html.twig' %}

{% block title %}Edit Colegio{% endblock %}

{% block body %}
    <h1>Edit Colegio</h1>

    {{ include('colegio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_colegio_index') }}">back to list</a>

    {{ include('colegio/_delete_form.html.twig') }}
{% endblock %}
