{% extends 'base.html.twig' %}

{% block title %}New Colegio{% endblock %}

{% block body %}
    <h1>Create new Colegio</h1>

    {{ include('colegio/_form.html.twig') }}

    <a href="{{ path('app_colegio_index') }}">back to list</a>
{% endblock %}
