<table class="table">
	<tbody>
		<tr>
			<th>Código: </th>
			<td>{{ circunscripcion.id }}</td>
		</tr>
		<tr>
			<th>Circunscripción: </th>
			<td>{{ circunscripcion.circunscripcion }}</td>
		</tr>
		{#Para el campo Estado el FALSE or 0: Habilitado y el TRUE or 1: Deshabilitado#}
		<tr>
			<th>Estado:</th>
			<td>
				{% if circunscripcion.estado == true %}
					1 - Deshabilitado
				{% else %}
					0 - Habilitado
				{% endif %}
			</td>
		</tr>
		{#Para el campo Visible el FALSE or 0: No Visible y el TRUE or 1: Visible#}
		<tr>
			<th>Visible:</th>
			<td>
				{% if circunscripcion.visible == true %}
					1 - Si
				{% else %}
					0 - No
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
