<table class="table shadow">
	<tbody>
		<tr>
			<th>Estado Profesional:</th>
			<td>{{ estado.estadoProfesional }}</td>
		</tr>
		<tr>
			<th>Código:</th>
			<td>{{ estado.estado }}</td>
		</tr>
	</tbody>
</table>