    <table class="table shadow">
        <tbody>
            <tr>
                <th>Código:</th>
                <td>{{ tipo_documento.id }}</td>
            </tr>
            <tr>
                <th>Tipo de Documento:</th>
                <td>{{ tipo_documento.tipoDocumento }}</td>
            </tr>
        </tbody>
    </table>
