<h2>Exportación automática de Registros del Administrador de Profesionales.</h2>

<p>Colegios con Novedades en Matriculados: {{novedadesmatriculados}}<p>
<p>Colegios con Novedades en Claves: {{novedadesclaves}}<p>

<p>Atte.,</p>

<p style="font-size: .9rem; margin-left:2rem; line-height: .4rem;"><strong>Sec. de Informática</strong></p>
<p style="font-size: .9rem;; margin-left:2rem; line-height: .4rem;"><strong>Poder Judicial de Santa Fe</strong></p>